/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}

.book-library{
	background-color:#ffffff;
	text-align:center;
}
.author{
	color:#777777;
}
.price-block{
	text-align:center;
	background-color:#2ecc71;
	color:white;
	border-radius:2px solid black;
	
}