/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-container {
    background-color: rgb(46, 204, 113);
    border-radius: 5px;
    padding: 10px;
}

.price-block {
    color: rgb(255, 255, 255);
    background-color: rgb(46, 204, 113);
    border-radius: 5px;
    padding: 5px;
}

.author {
    color: rgb(119, 119, 119);
}
